<!DOCTYPE html>
<html lang="es">

<head>
    {{ partial "head.html" . }}
    <script src="/js/theme-toggle.js"></script>
</head>

<body class="antialiased min-h-screen bg-ui-dark-gray text-bone-white">

    <!-- NAV GLOBAL -->
    {{ partial "nav.html" . }}

    <!-- CONTENIDO ESPECÍFICO DE CADA PÁGINA -->
    {{ block "main" . }}
    {{ end }}

    <!-- FOOTER GLOBAL -->
    {{ partial "footer.html" . }}

    <!-- COOKIE CONSENT -->
    {{ partial "cookie-consent.html" . }}

    <!-- JS GLOBAL -->
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const menuToggle = document.getElementById('menu-toggle');
            const mobileMenu = document.getElementById('mobile-menu');

            menuToggle.addEventListener('click', () => {
                mobileMenu.classList.toggle('hidden');
            });

            // Close mobile menu when ANY link inside it is clicked
            mobileMenu.querySelectorAll('a').forEach(link => {
                link.addEventListener('click', () => {
                    mobileMenu.classList.add('hidden');
                });
            });

            document.querySelectorAll('a[href^="#"]').forEach(anchor => {
                anchor.addEventListener('click', function (e) {

                    if (this.getAttribute('href') !== "#") {
                        e.preventDefault();

                        const targetId = this.getAttribute('href');
                        // Handle potential simple ID or complex URL with hash
                        const targetElement = document.querySelector(targetId);

                        if (targetElement) {
                            targetElement.scrollIntoView({ behavior: 'smooth' });
                        }
                    }
                });
            });
        });
    </script>

</body>

</html>