@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Default (Dark Mode) - RGB Channels for Opacity Support */
        --color-fox-red: 229 68 42;
        /* #E5442A */
        --color-deep-black: 10 10 10;
        /* #0A0A0A */
        --color-bone-white: 245 243 238;
        /* #F5F3EE */
        --color-neon-green: 92 255 191;
        /* #5CFFBF */
        --color-ui-dark-gray: 32 35 38;
        /* #202326 */
        --color-prose-text: 212 212 216;
        /* #D4D4D8 */

        --font-title: 'Orbitron', sans-serif;

        /* Icon Toggles (Dark Default) */
        --theme-sun-display: block;
        --theme-moon-display: none;
    }

    [data-theme="light"] {
        /* Light Mode Overrides (Premium Tech-Day) - RGB Channels */
        --color-deep-black: 244 244 245;
        /* #F4F4F5 */
        --color-bone-white: 24 24 27;
        /* #18181B */
        --color-neon-green: 5 150 105;
        /* #059669 */
        --color-ui-dark-gray: 255 255 255;
        /* #FFFFFF */
        --color-prose-text: 24 24 27;
        /* #18181B */

        /* Fox-Red remains constant as the alert color */

        /* Icon Toggles (Light Mode) */
        --theme-sun-display: none;
        --theme-moon-display: block;
    }
}