<script>
window.CRIATURAS_3042 = {
    {{- $data := .Site.Data.criaturas -}}
    {{- $cid := .Site.Params.glb_cid -}}
    {{- $base := .Site.Params.ipfsBase -}}

    {{- range $categoria, $subcats := $data -}}
    "{{ $categoria }}": {
        {{- range $subcat, $items := $subcats -}}
        "{{ $subcat }}": [
            {{- range $key, $item := $items -}}
            {
                "nombre": "{{ $key }}",
                "slug": "{{ $key | urlize }}",
                "desc": "{{ $item.desc }}",
                "img": "{{ $item.img }}",

                "glb_name": "{{ $item.glb_name }}",
                "glb_url": "{{ $base }}{{ $cid }}/{{ $item.glb_name }}",

                "tipo": "{{ $item.tipo }}"
            },
            {{- end -}}
        ],
        {{- end -}}
    },
    {{- end -}}
};
</script>
        