<footer class="bg-deep-black mt-20 py-12 border-t-4 border-neon-green/10">

    <div class="max-w-7xl mx-auto px-4 md:px-8 grid grid-cols-2 md:grid-cols-4 gap-8">

        <div>
            <p class="text-3xl font-title text-fox-red">DAR3D</p>
            <p class="text-sm opacity-70">Bestias que no existen todavía.</p>
        </div>

        <div>
            <h4 class="font-title text-bone-white mb-3">Principal</h4>
            <ul class="space-y-2 text-sm opacity-80">
                <li><a href="{{ "/#about" | relLangURL }}"
                        onclick="darEvent('click_nav', { label: 'About', location: 'footer' })">About</a>
                </li>
                <li><a href="{{ "/#creatures" | relLangURL }}"
                        onclick="darEvent('click_nav', { label: 'Creatures', location: 'footer' })">Creatures</a></li>
                <li><a href="{{ "/#contact" | relLangURL }}"
                        onclick="darEvent('click_nav', { label: 'Contact', location: 'footer' })">Contact</a></li>
            </ul>
        </div>

        <div>
            <h4 class="font-title text-bone-white mb-3">Tienda</h4>
            <ul class="space-y-2 text-sm opacity-80">
                <li><a href="{{ "/products/" | relLangURL }}"
                        onclick="darEvent('click_nav', { label: '3D Models', location: 'footer' })">3D
                        Models</a></li>
                <li><a href="{{ "/products/3dprint/" | relLangURL }}"
                        onclick="darEvent('click_nav', { label: 'Bundles', location: 'footer' })">Bundles</a></li>
                <li><a href="{{ "/#nft" | relLangURL }}"
                        onclick="darEvent('click_nav', { label: 'NFT Keys', location: 'footer' })">NFT
                        Keys</a></li>
            </ul>
        </div>

        <div>
            <h4 class="font-title text-bone-white mb-3">Información</h4>
            <ul class="space-y-2 text-sm opacity-80">
                <li><a href="{{ "/lore" | relLangURL }}"
                        onclick="darEvent('click_nav', { label: 'Wiki', location: 'footer' })">Wiki</a>
                </li>
                <li><a href="#"
                        onclick="darEvent('click_nav', { label: 'Tutorials', location: 'footer' })">Tutorials</a></li>
            </ul>
        </div>

    </div>

    <p class="mt-10 text-xs text-center opacity-60">&copy; 20251214 - DAR3D.</p>
</footer>