<script>
    window.GLBS = [
        {{- $cid := site.Params.glb_cid -}}
        {{- $base := site.Params.ipfsBase -}}

        {{/* Recorrem TOT l’arbre de criatures */}}
        {{- $data := site.Data.criaturas -}}

        {{- range $categoria, $subcats := $data -}}
            {{- range $subcat, $items := $subcats -}}
                {{- range $name, $item := $items -}}
                    {{- with $item.glb_name -}}
                        "{{ $base }}{{ $cid }}/{{ . }}",
                    {{- end -}}
                {{- end -}}
            {{- end -}}
        {{- end -}}
    ];
</script>