{{ define "main" }}

    <!-- HERO PRINCIPAL -->
    {{ partial "hero.html" . }}

    <main class="py-16 md:py-24 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">

        <!-- ABOUT -->
        {{ partial "about.html" . }}

        <!-- CREATURES -->
        {{ partial "creatures.html" . }}
        {{ partial "sections/criaturas.html" . }}

        <!-- SHADOW-STREETS / FANART -->
        {{ partial "shadow-streets.html" . }}

        <!-- GADGETS -->

        {{ partial "gadgets.html" . }}

        <!-- NFT -->
        {{ partial "nft.html" . }}

        <!-- WIKI -->
        {{ partial "wiki3042.html" . }}


        <!-- CONTACT 20251209 -->
        {{ partial "contact.html" . }}

    </main>

{{ end }}
