<!-- Load Google Model Viewer -->
<script type="module" src="https://cdn.jsdelivr.net/npm/@google/model-viewer@3.3.0/dist/model-viewer.min.js">
</script>

{{/* ----- RESOLUCIÓ DEL SRC ----- */}}
{{ $src := .src }}
{{ $cid := site.Params.glb_cid }}
{{ $base := site.Params.ipfsBase }}

{{ if and (not (hasPrefix $src "http")) (ne $src "") }}
{{ $src = printf "%s%s/%s" $base $cid $src }}
{{ end }}

{{ if eq $src "" }}
{{ $src = "/images/placeholder.glb" }}
{{ end }}

{{ partial "glb_viewer.html" (dict
"id" (printf "sc-viewer-%s" ($src | sha1))
"src" $src
"alt" (.Get "alt" | default "3D Model")
"height" "100%"
"request_zip" (.Get "zip")
"request_name" (.Get "name" | default "Shortcode Model")
) }}